<span class="poweredby">@T("Theme by <a href=\"{0}\" target=\"_blank\">Willem de Jong</a>", "http://willemdejong.net")</span>
<span>|</span>
<span class="copyright">@T("&#169; Willem de Jong 2014")</span>
<span>|</span>