@import url(http://fonts.googleapis.com/css?family=Niconne);
@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

.syntaxhighlighter table td
{
    font-size:10px !important;
}

.edit-item-content fieldset {
	border: 0;
	color: #FFFFFF;	
	padding:0;
	margin:0;
}

.edit-item-content legend {
	color: #FFFFFF;
}

.who legend {
	margin-bottom:10px;
}

.who ol,
.what ol,
ol.logon {
	padding: 0;
	margin: 0;
}
.who li,
.what li,
ol.logon li {
	list-style-type: none;
	list-style:none;	
	padding: 0;
	margin-bottom:10px;
}

.who li label,
.what li label {
	display: block;
	margin-bottom:5px;
}

html, body, div, ul, li, a, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

html {
  background-size:cover;
  background-attachment:fixed;
  font-family:"Noticia Text";
}

.base {
  margin: 0 auto;
}

h1, h2, h3, h4, span.h4
h1 a, h1 a:hover, h1 a:visited, h1 a:active {
  color:#333333;
  font-family: Niconne;
  font-weight:normal;
}

h1 {
  font-size:40px;
  padding-top: 5px;
}

h2 {
  font-size: 18px;
  color: #116A88;
}

h3 {
  font-size:20px;
  color: #DA7914;
}

h4, span.h4 {
  font-size:14px;
  font-family: "Noticia Text";    
  font-weight:bold;
  color: #DA7914;
}

a,
a:link,
a:active,
a:visited {
  color: #116A88;  
}

a:hover {
  color: #064458;
}

h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration:none;
}

div.header {
  background-color: #FFFFFF;
  opacity:0.93;
  padding-bottom: 5px;
  padding-left:10px;
  padding-right:10px;
}

div.header div.base {
  vertical-align:text-bottom;
}

div.middle {
  background-color: #FFFFFF;
  padding-bottom:10px;
  padding-top:1px;
  padding-left:10px;
  padding-right:10px;
  opacity:0.93;
}

div.menubar {
  padding-bottom:100px;  
}

div.footer, 
div.footer a,
div.footer a:hover,
div.footer a:visited,
div.footer a:active {
	color: #808080;
	font-size: 8px;
	text-align: center;
}
/*
 * Menu items
 */
div.menubar ul {  
  list-style-type: none;
  list-style:none;
}

div.menubar ul li {
  height: 60px;
  text-align:  center;
  display: block;
  line-height: 60px;
  width: 100%;
  margin-bottom:3px;
}

div.menubar ul li.last {
	margin-bottom:0px;
}

div.menubar ul li a,
div.menubar ul li a:active,
div.menubar ul li a:visited {
  color: white;
  display: block;
  height: 60px;
  padding: 0;
  text-decoration: none;
  background-color: #116A88;
  background: rgba(17, 106, 136, 0.6);
  font-weight:bold;
  width: 100%;
}

div.menubar ul li a:hover {
  background-color:#0E5A74;
  background: rgba(17, 106, 136, 0.7);
}

div.menubar ul li.current a,
div.menubar ul li.current a:active,
div.menubar ul li.current a:visited {
  background-color: #333333;
  background: rgba(33, 33, 33, 0.7);
}

div.menubar ul li.current a:hover {
  background-color: #222222;
  background: rgba(33, 33, 33, 0.8);
}

/*
 * End menu items
 */


div.content,
div.resume {
  color: #333333;
}

div.content,
div.resume,
p {
  font-size:11px;
}


div.actionbox {
  background-color:#DA7914;
  border-radius:10px;
  padding: 10px;
  margin-bottom:10px;
  color:#FFFFFF;
  display:block;	
 }

form.comment-form {
	display:block;
		
}

div.actionbox h4,
div.actionbox span.h4 {
  color: #FFFFFF;
  
}

div.actionbox h4 a,
div.actionbox h4 a:active,
div.actionbox h4 a:link,
div.actionbox h4 a:visited,
div.actionbox h4 a:hover {
  color:#FFFFFF;
  
}

div.actionbox a,
div.actionbox a:link,
div.actionbox a:active,
div.actionbox a:visited {
  color: #333333;  
}

div.actionbox a:hover {
  color: #555555;
}

div.actionbox a.actionlink,
div.actionbox a.actionlink:link,
div.actionbox a.actionlink:active,
div.actionbox a.actionlink:visited {
  font-weight: bold;
  float:right;
  padding-right:10px;
  
}

div.actionbox input,
.edit-item-content input,
div.actionbox textarea,
.edit-item-content textarea,
.comment-form button {
  width: 100%;
  border:none;
  border-radius: 5px;
  font-family:"Noticia Text"; 
  height:30px; 
}

div.actionbox textarea,
.edit-item-content textarea {
	height:120px;
}

div.actionbox ::-webkit-input-placeholder  {
  color:#555555; 
}

div.actionbox input:-moz-placeholder {
  color:#555555; 
}

div.actionbox button[type=submit],
.comment-form button[type=submit] {
  display: block;
  width:auto;  
  background-color: #333333;
  color: #FFFFFF;
  font-weight:bold;  
  margin-top:10px;  
}

div.actionbox button[type=submit]:hover {
  background-color: #FFFFFF;
  color: #333333;
}

div.actionlinebox {
  border: solid #DA7914 1px;
  border-radius: 10px;
  padding:10px;
  margin-bottom:10px;
  display:block;
}

div.actionlinebox div.item {
  
}

div.actionlinebox a {
  color: #DA7914;
}

div.actionlinebox a:hover {
  color: #A36D34;
}

div.actionlinebox a.actionlink {
  color: #333333;
  font-weight:bold;
  float:right;
}

div.actionlinebox a.actionlink:hover {
  color: #555555;
}

div.actionlinebox form {
	padding-top:10px;
}

div.actionlinebox fieldset {
	border: 0;
	max-width: 465px;
	margin:0;
	padding:0;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:10px;
	display:block;
}

div.actionlinebox fieldset.submit-button {
	margin-right:0px;
}

div.actionlinebox input,
div.actionlinebox textarea,
div.actionlinebox button[type=submit] {
  width: 100%;
  max-width:300px;
  padding:4px;
  border-radius: 5px;
  border: 1px #333333 solid;
  background-color:rgba(33, 33, 33, 0.2);
  font-family:"Noticia Text";
  color: #333333;
  display:inline-block;
}

div.actionlinebox label {
	color: #333333;
	display:inline-block;
	width:100%;
	max-width:150px;
	vertical-align:top;
}

div.actionlinebox ::-webkit-input-placeholder  {
  color:#999999; 
}

div.actionlinebox input:-moz-placeholder {
  color:#999999; 
}

div.actionlinebox button[type=submit] {
  display: block;
  width:auto;
  background-color: #333333;
  color: #FFFFFF;
  font-weight:bold;  
  margin-left: auto;
  margin-right: 0;
}

div.actionlinebox button[type=submit]:hover {
  background-color: #FFFFFF;
  color: #333333;
}

div.leftpane, div.rightpane {
  display:inline-block;
  width:100%;
}

div.middle div.leftpane,
div.middle div.rightpane {
  margin-top:10px;
  vertical-align:top;
}

div.down {
  height: 100px;
  background: rgba(255, 255, 255, 0);
  margin-top: 200px;
}

/*
 * Blog
 */
div.blogsummary,
div.blogdetails {
  display: block;
  padding-bottom:40px;
}

div.blogdetails ul {
}

div.bloglistfooter {
  padding-right: 20px;
}

div.blogsummary span.blogfooter {
  font-size:9px;
  float:right;
  color: #808080;
}

ul.blog-posts {
	list-style-type: none;
	list-style:none;
}

div.blogsummary span.blogfooter a,
div.blogsummary span.blogfooter a:link,
div.blogsummary span.blogfooter a:active,
div.blogsummary span.blogfooter a:visited {
  color:#808080;
}

div.blogsummary span.blogfooter a:hover {
  color:#999999;
} 

div.blogsummary span.blogfooter span.more a,
div.blogsummary span.blogfooter span.more a.link,
div.blogsummary span.blogfooter span.more a.active,
div.blogsummary span.blogfooter span.more a.visited {
  color: #DA7914;    
  font-weight:bold;
}

div.blogsummary span.blogfooter a.more:hover {
  color: #555555;
}

div.blogdetails img {
	max-width:100%;
	height:auto;
	width:auto;
}

div.blogdetails span.blogmeta {
  padding-top:5px;
  display:block;
  color:#808080;
}

div.blogcomments li {
  border-bottom: 1px #808080 ridge;
  display:inline-block;
  padding-bottom: 15px;
  margin-right: 10px;
  width:100%;
}

div.blogcomments li.last {
  border-bottom: none;
}

div.blogcomments span.blogcommentitemfooter {
	display:inline-block;
	float:right;
	font-style:italic;
}

div.blogcomments li {
    list-style-type: none;
	list-style:none	
}

div.postcomment h4 {
  padding-bottom: 10px;
}

div.actionbox div.item,
div.actionlinebox div.item {
  padding-bottom: 10px;
  display:inline-block;
  width:100%;
}

ul.blog-posts li.last div.blogsummary {
	padding-bottom:10px;
}
ul.pager li {
	display:block;	
	margin:0;
}


ul.pager li {
	padding-top:10px;
}

ul.pager li a {
	display:block;
	width:100%;
	text-align:center;
	font-size:10px;
}

p.tags {
	margin-top:6px;
	margin-bottom:6px;
}

p.tag,
p.tags a,
p.tags a:visited,
p.tags a:active,
p.tags a:hover {
  display: inline-block;
  border: 1px solid #116A88;
  border-radius:3px;
  padding:2px;
  background-color: #CECECE;
  color: #116A88;
  font-size: 9px;
  margin-right: 3px;
  text-decoration:none;
}
/*
 * End blog
 */
 
/*
 * Resume
 */


div.resume h2 {
	display:block;
	vertical-align:top;
}

div.resume h3 {
  font-family: "Noticia Text";
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 0px;
  color: #116A88;
  display:block;
}

div.resume h4 {
  display:inline;
  font-size: 11px;
  font-family: "Noticia Text";
  color: #da7914;
  padding-top: 15px;
  padding-bottom: 10px;
  display:block;
}

div.actionbox a.linkedin {
  font-size: 27px;
  font-family:Droid Sans;
  border-radius: 5px;
  background-color:#FFFFFF;
  font-weight: bold;
  padding-top:0px;
  padding-bottom:18px;
  padding-left:6px;
  padding-right:14px;
  width:14px;
  height:14px;
  color:#DA7914;  
  text-decoration:none;
  display:block;
}

div.resume img {
	display:block;
	max-width:80px;
	max-height:80px;
	padding-top:10px;
}

div.resume ul {
  margin-left: 20px;
  padding-top: 5px;
}

div.resume p {
  margin-bottom:5px;
  margin-top: 5px;
}


/* portrait */
@media only screen and (min-width: 600px) {

	.base {
	  width: 100%;
	}
	
	div.menubar ul li {		
		display: inline-block;	
		width:10em;
	}

	div.menubar {
		padding-left:10px;
	}

	div.menubar ul li a {
		padding: 0;
	}

	div.header div.leftpane, 
	div.header div.rightpane {
		width:49%;
		display:inline-block;
	}

	h2 {
		font-size: 25px;
	}

	h4, span.h4 {
		font-size:16px;
	}

	div.content,
	div.resume {
	  color: #333333;
	}

	div.content,
	div.resume,
	p {
	  font-size:13px;
	}

	div.blogsummary span.blogfooter {
	  font-size:11px;  
	}
		
	ul.pager li {
		padding-top:10px;
	}

	ul.pager li a {
		font-size:14px;
	}

	div.footer, 
	div.footer a,
	div.footer a:hover,
	div.footer a:visited,
	div.footer a:active {
		font-size: 12px;		
	}

	
	p.tags {
		margin-top:6px;
		margin-bottom:6px;
	}

	p.tag,
	p.tags a,
	p.tags a:visited,
	p.tags a:active,
	p.tags a:hover {
	  
	  border-radius:5px;
	  padding:4px;
	  background-color: #CECECE;
	  color: #116A88;
	  font-size: 11px;
	  margin-right: 3px;
	  margin-top: 3px;
	  margin-bottom: 3px; 
	}

	div.resume h3 {
	  font-size: 14px;	  
	}

	div.resume h4 {
	  font-size: 12px;	  
	}

	div.resume img {
		max-width:110px;
		max-height:110px;		
	}
}

@media only screen and (min-width: 1000px) {
	
	.base {
	  width: 90%;
	  min-width:900px;
	  max-width:1500px;
	}

	div.menubar {
		padding-bottom:initial;
		height: 350px;
	}

	div.middle {
		padding-top:30px;
		padding-bottom:30px;
	}

	div.header div.leftpane,
	div.leftpane  {
		min-width:510px;
		width:50%;
		display:inline-block;	
		padding-right:30px;		
		margin-right:30px;	
	}

	div.rightpane,
	div.header div.rightpane {
		width: 320px;
		display:inline-block;
	}

	div.middle div.leftpane {		
		border-right: 1px #cecece dotted;
	}

	div.middle div.leftpane,
	div.middle div.rightpane {
		margin-bottom: 50px;
	}

	div.content,
	div.resume {
	  color: #333333;
	}

	div.content,
	div.resume,
	p {
	  font-size:15px;
	}


	h1 {
	  font-size:70px;
	  padding-top: 20px;
	}

	h2 {
	  font-size: 45px;
	}

	h3 {
	  font-size:28px;
	}
	
	h4, span.h4 {
	  font-size:20px;
	}

	div.blogsummary {
		padding-bottom: 60px;
	}

	div.blogsummary span.blogfooter {
	  font-size:13px;	  
	}

	ul.pager li {
		padding-top:30px;
	}
		
	ul.pager li a {
		font-size:16px;
	}

	div.footer, 
	div.footer a,
	div.footer a:hover,
	div.footer a:visited,
	div.footer a:active {
		font-size: 12px;		
	}

	div.resume h3 {
	  font-size: 18px;	  
	}

	div.resume h4 {
	  font-size: 14px;	  
	}
		
	div.resume img {
		max-width:100%;
		max-height:100%;		
	}

	div.actionlinebox {
	  margin-top:30px;
	}
}